body
{
	background-image:url("C:/Users/Desktop/Pictures/wall papers/tiger.jpg");
	text-align: center;
}
h1
{
	color:green;
}
body div.b
{
	float:right;
	clear:both;
}
 div.a
{
color: red;
clear: both;
}
body div.c
{
	float: center;
	clear: both;
}